footer {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
  height: 150px;
  max-width: 100vw;
  background-color: gainsboro;
}

.footer__contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 150px;
}

.footer__contact--info {
  margin: 0px;
}

.footer__contact--support {
  margin: 0px;
}

.footer__legal {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
