header {
  height: 300px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__intro--library {
  height: 20px;
  font-size: 60px;
}

.header__intro--greetings {
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: gainsboro;
}
