.main__edit {
  justify-self: center;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
}

.main__edit--entries {
  display: flex;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: gainsboro;
}

.main__edit--new {
  margin-top: 20px;
  height: min-content;
  width: fit-content;
  font-size: 40px;
  padding: 3px;
}

.main__card {
  margin-left: 200px;
  margin-top: 50px;
  width: 200px;
  height: fit-content;
  background-color: gainsboro;
  padding: 15px;
  border-radius: 25px;
  border: solid black 1px;
}

.main__card--link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__card--cover {
  max-width: 100px;
  max-height: 100px;
}

.main__card--by {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.main__card--title,
.main__card--author {
  height: 5px;
  font-size: 30px;
  margin-top: 0px;
}

.main__card--genre,
.main__card--length {
  margin-left: 30px;
  font-size: 20px;
  max-height: 5px;
  margin-top: 0px;
}

.main__card:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.main__edit--new:hover {
  background-color: #a6c5b6;
  border-radius: 10px;
  transition: 500ms;
}
